// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
// @import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootstrap-select/sass/bootstrap-select";
@import "node_modules/datatables.net-bs/css/dataTables.bootstrap";

.page-header {
    margin-top: 0;
}

#img-rad,
.td-id {
    display: none;
}

.item-file {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    margin-bottom: 20px;
}

//** Viewer */
.list-rad{
    display: flex;
    // overflow-x: scroll;
    overflow-y: hidden;
    justify-content: center;
    .list-rad-item{
        img{
            width: 80px;
            @media screen and (min-width: 768px){
                width: 120px;
            }
        }
    }
}

.content-img {
    margin: 20px auto;
    padding: 20px 10px;
    background-color: black;

    @media screen and (min-width: 768px) {
        padding: 20px;
    }
    h3{
        margin-top: 0;
    }
    h3, h4{
        color: white;
    }
}

.content-img .controls {
    padding: 20px 0;
}

.content-img .figure {
    text-align: center;
    border: 1px solid white;
    width: 100%;
    height: auto;
    overflow: hidden;
    .img-move{
        position: relative;
    }
}

.controls .control{
    margin-bottom: 10px;
}

.icon-left{
    transform: rotateY(180deg);
}

.content-img figure img {
    width: auto;
    height: 400px;
    position: relative;

    @media screen and (min-width: 768px) {
        height: 500px;
    }
}

/** Control zoom */

.control-zoom-bar{
    display: none;
    .control-zoom{
        margin-bottom: 10px;
    }
}
/** Control invert */

.control-invert {
    filter: invert(1);
}

/** Control Pan */

.simple-pan {
    overflow: hidden;
    cursor: move;
    .pan-image {
        position: relative;
        box-shadow: 0 0 5px black;
    }
}

/**  Control Rotate */
.flip-hor{
    transform: rotateY(180deg);
}
.flip-vert{
    transform: rotateX(180deg);
}