// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/bootstrap-select/sass/bootstrap-select";
@import "node_modules/datatables.net-bs/css/dataTables.bootstrap";

.page-header {
    margin-top: 0;
}

#img-rad,
.td-id {
    display: none;
}

.item-file {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    margin-bottom: 20px;
}

.content-img {
    margin: 20px auto;
    padding: 20px 10px;
    background-color: black;

    @media screen and (min-width: 768px) {
        padding: 20px;
    }
}

.content-img .controls {
    padding: 20px 0;
}

.content-img figure {
    text-align: center;
    border: 1px solid white;
    width: 100%;
    height: auto;
}

.content-img figure img {
    width: 100%;
    width: auto;
    height: 400px;
    overflow: hidden;
    position: relative;

    @media screen and (min-width: 768px) {
        // width: 80%;
        height: 500px;
    }
}

.content-img .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: transform .5s ease-out;
}

.control-invert {
    filter: invert(1);
}

.simple-pan {
    overflow: hidden;
    cursor: move;
}

.simple-pan .pan-image {
    position: relative;
    box-shadow: 0 0 5px black;
}

.simple-pan .pan-image.animate {
    -webkit-transition: -webkit-transform 0.2s ease;
    -moz-transition: -moz-transform 0.2s ease;
    -o-transition: -o-transform 0.2s ease;
    transition: transform 0.2s ease;
}